@font-face{ 
	font-family: RobotoCondensed;
	src: url('RobotoCondensed-Regular.ttf') format('truetype');
}

body{
    font-family: RobotoCondensed, Arial, Helvetica, sans-serif;
    color: #111111;
}

.topBar{
    height:35px;
    background-color:black;
    margin-bottom: 15px;
}

.gsbFooter{
    background-color: black;

}

.item{
    padding:15px;
    margin-bottom:10px;

}
.homepageimage{
    margin-left:15%;
    display:inline-block;
}

.homepageitemdscr{
    float: right;
    padding-top:50px;
    font-size:1.4em;
    display:inline-block;
    margin-right: 35%;
}

.homepageimage image{
    text-align:center;
   
}

.logoImg{
    width:36px; 
    height: 36px; 
    margin-right:2px; 
    margin-bottom:5px;
}

.header{
    color: white;
    font-size: 1.8em;
}

.allContent {
    margin-top:20px;
}

.gold{
    color: gold;
}

.silver{
    color:silver;
}

.gsbNav a{
    border-radius: 3px;
   
}

.productNav {
    display: inline-block;

}

.gsbNav .menuItems a{
     color: azure;
}

.gsbNav .menuItems .active a:hover {
    background-color: blue;
}

.gsbNav .menuItems  a:hover {
    background-color: red;
}

.gsbNav {
    background-color: gray;
    border-radius: 3px;
}

.gsbNav .menuItems .active {
    background-color: red;
}

.mainRow{
    margin-top:15px;
}

.contentBlock {

    border: 1px solid #8d8d8d; 
    border-radius: 3px;
    width:98%;
}
.addToCart{
    text-align:center;
    padding-top:15px;
}

.contentImage {
    display:inline-block;
    margin-right:10px;
}

.contentDescription{
    margin:5px;
}

.siteContent{
    margin-right:10px;
}

.logo{
    margin-left: 60px;
    width:100px;
}

.contentTitle{
    font-size:1.2em;
    font-weight: bold;
}